/* Perfect typographic CSS */

:root, body, select, option, input, a, textarea, button {
  font: 12pt/135% serif;
  color: rgb(55,15,0);
}

:root, body {
  background: rgb(249,249,249);
}

h1 {
  font-size: 14pt;
}

h2 {
  font-size: 13pt;
}

label, legend, input, button, th {
  font-size: 12.5pt;
}

h3, h4, h5, h6 { display: none; }

h1, h2 {
  font-weight: bold;
}

h1, h2 {
  margin-top: 0.5em;
  margin-bottom: 1em;
}

th, legend {
  padding-top: 0.5em;
  padding-bottom: 1em;
}

p {
  margin-bottom: 0.75em;
}

p + p {
  margin-top: 0.75em;
}

.caps, .small-caps {
  letter-spacing: 0.08em;
}

.caps {
  text-transform: uppercase;
  font-weight: normal;
}

.small-caps {
  font-variant: small-caps;
  font-weight: normal;
}

fieldset {
  border: none;
  border-top: thin solid;
}






