/* Perfect typographic CSS */

p, a, span, input, button, label, legend, select, option, textarea {
  font: 1.2em/1.618em sans-serif;
}

p {
  width: 37.518em;
  max-width: 99.999%;
}

label, legend, input {
  height: 1em;
}

button, input[type="button"], input[type="submit"], input[type="reset"] {
  height: 2.61803398875em;
}

select, option {
  height: 1.61803398875em;
}

option, optgoup {
  font-size: 1.1em;
}

textarea {
  box-sizing: border-box;
  height: calc(attr(rows)*1.618em);
  font-size: 1.1em;
}


